:root{
--color1: #2d4284;
--color2: #8fa3c6;
}

html, body{
  font-family:'Work Sans', sans-serif;
  color:var(--color2);
}

.container{
  max-width:50vh;
}

.vertical_center{
  display: flex;
 align-items: center;
 height:75vh;
}

/*
@media only screen and (max-width: 768px) {
}
*/

img{
  max-width:80%;
}

p{
  color:#8fa3c6;
  font-size:2.2vh;
}
/*
@media only screen and (max-width: 768px) {
  p{
    font-size:2.6vh;
  }
}
*/
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}


.header {
    position: fixed;
    left: 0;
    top: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#8fa3c6;
}

.footer {

  width:100%;
  max-width:100%;
  position: absolute;
  right: 0;
  bottom: 1rem;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color:white;
}

h1{
  font-size:4vh;
  color:var(--color1);
  font-weight: bold;
}

.head-link{
  margin-left: 1rem;
  margin-right:1rem;
}

a:link{
  text-decoration: none;
  color:#8fa3c6;
}

a:visited {
  text-decoration: none;
  color:#8fa3c6;
  font-weight: bold;
}
a:hover{
  text-decoration: none;
  color:#2d4284;
  font-weight: bold;
}

a:active {
  text-decoration: none;
  color:#2d4284;
  font-weight: bold;
}

.divider{
  border:none;
  width:30vh;
  height: 1px;
  color:#ccd9ed;
  background-color: #ccd9ed;
}

button {
  color: var(--color1);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--color1);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.fill:hover, .fill:focus {
  box-shadow: inset 0 0 0 2em var(--color1);
}
