/* Variables */
:root{
  --color1: #DCE35B;
  --color2: #45B649;
  --font1:'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    -webkit-overflow-scrolling: touch;
}

html,
body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

a {
  color:var(--color1);
}

a:hover{
  color:var(--color2)
}

body {
    font-family: var(--font1);
}

.centralColumn{
  padding-right:15%;
  padding-left:15%;
}

.title{
  font-size: 450%;
  font-weight: 700;
  color:black;
}

.gradient_link {
  background: -webkit-linear-gradient(var(--color2),var(--color1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small{
  width:15%;
}
