:root{
  --color1: #DCE35B;
  --color2: #45B649;
  --font1:'Droid Serif',  sans-serif; /*'Helvetica Neue', Helvetica, Arial,*/
}

body{
  height:100%;
  width:100%;
  background: linear-gradient(var(--color1), var(--color2)) fixed;
  font-family: var(--font1);
}

a {
  color:var(--color1);
}
a:hover{
  color:var(--color2)
}

h1{
  font-size:400%;
}

hr{
  width:10%;
}
.title{
  color:black;
}
.centralColumn{
  padding-right:15%;
  padding-left:15%;
}

.white-card{
  background-color: #ffffff;
		color: #636363;
		border-radius: 0.5em;
    margin: 2% 2%;
    box-shadow: 0px 5px 5px #349937;
}

.gradient_link {
  background: -webkit-linear-gradient(var(--color2),var(--color1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
