---
layout: default
title: Graveyard
---
<center>
  <br>
  <br>
  <h1 class='fadeable title'>My Graveyard</h1>
  <h4 class='centralColumn'>Here's where my great ideas go to die 😢
  (or wait to be revived 😇). Peruse through my
  postmortems to see what went wrong.</h4>
  <br>
  <br>
</center>
<div class="card-columns">
  {% for deadbody in site.data.graveyard %}
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">{{deadbody.name}}</h3>
      <p>{{deadbody.description}}</p>
      <i>{{deadbody.reason}}</i>
    </div>
  </div>
  {%endfor%}
</div>

{% include footer.html %}
