<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Matt Fan | Hello</title>
    <link rel="icon" href="img/fav.png" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!-- main css -->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>
    <!-- modernizr -->
    <script src="js/modernizr.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109281338-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109281338-1');
    </script>

</head>

<body>
    <!--
    <!-- Preloader --s>
    {% include preloader.html %}
    <!-- end Preloader -->

    <div class="container-fluid">
        <section class="box-intro" >
            <div class="table-cell" >
              <!--h1>Hi There! I'm Matt!</h1-->
              <div class='padded-column'>
                <h1>Hi there, I'm Matt Fan</h1>
                <img src='img/engineering.gif' style='max-width:70%;'>
                <!-- <p><b>Matt Fan</b> is a <a href='http://www.bannekerkey.umd.edu/'><b>Banneker/Key Scholar</b></a> and  <a href='https://fellows.kleinerperkins.com/meet-the-fellows'><b>Kleiner Perkins Engineering Fellow</b></a>
                    studying <b>Mechanical Engineering</b> and <b>Computer Science</b> at UMD. -->
                <p>
                    I make things in the domains of hardware, software, and design.
                    <br>
                    Currently, I build robots at <a href='https://doordash.engineering/'><b>DoorDash Labs</b></a>.
                    <!-- I'm currently a <b>Research Assistant</b> at the
                    <a href='/experience/mre-lab/'><b> UMD Medical Robotics Lab</b></a>. -->
                    <!-- Formerly, <b>Software and Hardware Engineering Intern</b> at <a href='https://doordash.engineering/'><b>DoorDash</b></a>, 
                    <b>Developer</b> at <a href='http://www.bespokepremium.com'><b>Bespoke</b></a>,
                    <b>Executive Director</b> at <a href='http://www.startupshell.org'><b>Startup Shell</b></a>,
                    <b>Founder</b> at <a href='http://www.quarkygames.com' ><b>Quarky.</b></a> -->
                    <!-- Formerly at 
                        <a href='/experience/doordash/'><b>DoorDash</b></a>,
                        <a href='/experience/bespoke/'><b>Bespoke</b></a>,
                        <a href='/experience/startup-shell/'><b>Startup Shell</b></a>, and
                        <a href='/experience/quarky/' ><b>Quarky</b></a>. -->

                </p>
                <!-- <button type="button" class="btn btn-primary">Say Hi!</button> -->
              </div>
              <ul class="links">
                  <li class="social"><a href="mailto:matthew.fan@doordash.com"><i class="far fa-envelope"></i></a></li>
                  <li class="social"><a href="https://www.linkedin.com/in/matt-fan/"><i class="fab fa-linkedin"></i></a></li>
                  <li class="social"><a href="https://github.com/mattjfan"><i class="fab fa-github"></i></a></li>
                  <li class="social"><a href="https://dribbble.com/mfan"><i class="fab fa-dribbble"></i></a></li>
                  <li class="social"><a href="https://www.behance.net/mattjfan"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
                  <!-- <li class="social"><a href="https://www.dropbox.com/s/yr5yiy959ccec7i/MattFanResume.docx?dl=0"><i class="far fa-file-alt" aria-hidden="true"></i></a></li> -->
              </ul>
            </div>
        </section>
    </div>

    <!-- footer -->
    <!--footer>
        <div class="container-fluid">
            <p class="copyright">© Box Portfolio 2016</p>
        </div>
    </footer-->
    <!-- end footer -->

    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->



    <!-- jQuery -->
    <script src="js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/animated-headline.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>


    <!--  custom script -->
    <!-- <script src="js/custom.js"></script> -->
    <!-- {% include lazyload.html %} -->

</body>

</html>
