---
layout: default
title: Over-Sand Vehicle
---

<div class="container main-container">
  <div class="col-md-12">
    <img src="sensorRotate.gif" alt="" class="img-responsive" />
    <div class="h-30"></div>
  </div>
  <div class="col-md-12">
    <h3 class="text-uppercase">Over-Sand Vehicle</h3>
    <h5>Hardware & Programming | Team | 2017</h5>
    <div class="h-30"></div>
  </div>

  <div class="col-md-12">
    <p>The over-sand vehicle was a team project I did for my introduction to engineering
    course at UMD. I led the programming team, and did a lot of CAD for concept renderings,
  simulation, and 3d-printing.</p>
  {% include screenshot.html image='ss1.png' comment='A Modular, holonomic drive concept I created for this project.'%}
    <p>For the programming, I designed the architecture of the OSV's code, and implemented
    the majority of the code. All of the logic was written in C for Arduino, and interfaced
  with the classes computer vision library to complete tasks like navigation through variable
terrain, path readjustment, and accurate measurement of a block with varying dimensions and color,
utilizing the three-sensor array we designed (consisting of a color sensor and two servo-mounted IR sensors).
The codebase was designed with modularity and functionality at the forefront, with constant test-based
tweaking to improve real-world performance and accuracy, and avoid redundancy. Unfortunately, I can't share code
here as it is against course policy.</p>
{% include screenshot.html image='ss4.png' comment='Final OSV design'%}
{% include screenshot.html image='ss3.png' comment='The final OSV assembled!'%}
  <p>In addition to my primary capacity as lead programmer, I also designed all of the presentation and concept renderings, and drew up some of the more complicated
  3d-printed components on our OSV- as well as worked on the hardware and electrical side to fabricate and assemble the actual OSV.</p>
  </div>
</div>
