---
layout: default
title: Holonomic Plant Pot
---


<div class="container main-container">
    <div class="col-md-12">
      <img src="main1.png" alt="" class="img-responsive" />
      <div class="h-30"></div>
    </div>
    <div class="col-md-12">
      <h3 class="text-uppercase">Holonomic Plant Pot</h3>
      <h5>Hardware & Electronics | Solo | 2018</h5>
      <div class="h-30"></div>
    </div>
  
    <div class="col-md-12">
      <p> I designed and built a light-following, holonomic plant pot system using an ATTINY84 microcontroller, and other low-cost and 3d printed parts. The project is still in development, but you can check it our <a href='https://github.com/mattjfan/holonomic-plant-pot'>here</a>.
      </p>
      <!-- {% include screenshot.html 
        image='img2.png'
        comment='Redesigned landing page for increased conversions'
        %}
      <p>
        During this internship, I used and learned a variety of different toolsets and technologies, including Python, Javascript, HTML & CSS, PHP, SQL, Google Analytics, Node, Adobe XD, Illustrator, Photoshop, WebPack, and React & Redux.
      </p>
      {% include screenshot.html 
        image='img1.png'
        comment='Early member home page for our interactive web application'
        %} -->
    </div>
  </div>
  