---
layout: default
title: Bespoke Investment Group
---


<div class="container main-container">
    <div class="col-md-12">
      <img src="main1.png" alt="" class="img-responsive" />
      <div class="h-30"></div>
    </div>
    <div class="col-md-12">
      <h3 class="text-uppercase">Bespoke Investment Group Internship</h3>
      <h5>Software Development & Design | Team | 2018</h5>
      <div class="h-30"></div>
    </div>
  
    <div class="col-md-12">
      <p>I worked at Bespoke Investment Group Summer 2018, as a front-end intern on a two-person development team. I redesigned a new <a href='https://www.bespokepremium.com/'>conversions
        oriented landing page</a>, designed and built a web application from scratch to provide a better, interactive user experience with data from our legacy WordPress site,
        created algorithms to automate traditionally human tasks such as trend classification and dynamic summary generation, and designed assets for one of our joint ventures, <a href='https://premosocial.com/'>Premo Social</a>.
      </p>
      {% include screenshot.html 
        image='img2.png'
        comment='Redesigned landing page for increased conversions'
        %}
      <p>
        During this internship, I used and learned a variety of different toolsets and technologies, including Python, Javascript, HTML & CSS, PHP, SQL, Google Analytics, Node, Adobe XD, Illustrator, Photoshop, WebPack, and React & Redux.
      </p>
      {% include screenshot.html 
        image='img1.png'
        comment='Early member home page for our interactive web application'
        %}
    </div>
  </div>
  