<div class="mx-auto text-center footer">
      <!--h3><strong>Get in Touch!</strong></h3-->
      <hr class='divider'>
      <ul class="list-unstyled">
        <li>
          <i class="fa fa-phone fa-fw"></i>
          (240) 473-2968</li>
        <li>
          <i class="fa fa-envelope-o fa-fw"></i>
          <a href="mailto:mfan@umd.edu">mfan@umd.edu</a>
        </li>
      </ul>

      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/matt-fan/">
            <i class="gradient_link fa fa-linkedin fa-fw fa-3x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/mattjfan">
            <i class=" gradient_link fa fa-github fa-fw fa-3x"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://dribbble.com/mfan">
            <i class=" gradient_link fa fa-dribbble fa-fw fa-3x"></i>
          </a>
        </li>
      </ul>
    </div>
