<!DOCTYPE HTML>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Hi there! I'm a designer, developer, and engineer studying at UMD + Executive Director at Startup Shell. Let's make something together.">
  <meta name="author" content="Matthew Fan">
  <title>Matt Fan | {{page.title}}</title>
  <link rel="icon" type="image/png" href="/img/icon.png">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
</head>
<body>

  {{content}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <script src="/js/scripts.js"></script>
</body>
</html>
