---
layout: main
nlame: Engineering
title: I make cool things
description: Hi! I'm currently studying Mechanical Engineering at UMD. Previously at <a href='http://www.protocad.com/'>Protocad</a>, a rapid prototyping and design firm, and FIRST Robotics alum. I'm interested in human-centric industrial product design, and dabble in 3d-fabricated design and electronics. I also do design and programming- check those out on my <a href='/'>home page</a>.
image: engineering.gif
---
{% include small_square.html
  image="timg_quarky.png"
  link='comment-critters'
  name='Comment Critters'
  description='Web Extension'
  year='2017'
%}


{% include small_square.html
  image="safegun_mainsquare.png"
  link='comment-critters'
  name='Comment Critters'
  description='Web Extension'
  year='2017'
%}

{% include large_square.html
  image="hovar_noise.png"
  link='hovar'
  name='Light-Projecting AR Drone'
  description='Hardware & Electronics'
  year='2018'
  team=1
%}

{% include small_square.html
  image="timg_musclewire.png"
  link='comment-critters'
  name='Comment Critters'
  description='Web Extension'
  year='2018'
%}

{% include small_square.html
  image="timg_osv.png"
  link='comment-critters'
  name='Comment Critters'
  description='Web Extension'
  year='2017'
%}
